@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

:root {
      --bs-body-font-family: 'Space Grotesk', sans-serif;
}

html, body{
    min-height: 100%;
}

h1 span:first-child{
    font-weight: 600;
}

a{
    color: #237;
    text-decoration: none;
}