@charset "UTF-8";

:root {
    --figura: #333333;
    --fondo: #DDDDDD;
    /* ¿Qué valor de contrast-ratio está utilizando? Revise en https://contrast-ratio.com/ */
}

* {
    margin: 0;
    padding: 0;
    transition: color ease 0.5s;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--figura);
    background: var(--fondo);
    line-height: 1.25;
}

a {
    color: #666;
    margin-right: 3vw;
}

a:hover {
    color: #000;
}

header, main, footer {
    width: 86vw;
    margin: 0;
    padding: 5vh 7vw;
}

header h1 {
    font-size: calc(2rem + 1vw);
}

main p{
    font-size: calc(1rem + 1vw);
}

footer {
    position: absolute;
    bottom: 0;
    text-align: right;
}

footer a {
    text-decoration: none;
    line-height: 1;
    border: 2px solid gray;
    border-radius: 0.3rem;
    padding: 0.5rem 0.75rem;
    box-shadow: 0px 0px 3px #bbb;
    background: white;
}

footer a:hover{
    border: 2px solid black;
    box-shadow: 0px 0px 1px #bbb;
}
